    <form class="form-search" action="{{ app.url_generator.generate('blog_search') }}" method="get">
      <input type="text" name="search_string" class="input-medium search-query" value="{% if search_string is defined %}{{ search_string }}{% endif %}" />
      <button type="submit" class="btn">Search</button>
    </form>
