{% extends "layout.html.twig" %}

{% block content %}
        <div class="row">
          <div class="col-md-12">
            <h2>A different approach to database layer</h2>
            <p>

            <blockquote>Pomm, a take on ORM limitations</blockquote>
          </p>
          </div>
        </div>
{% endblock %}
