{% extends "layout.html.twig" %}

{% block title %}{{ news.title }}{% endblock %}
{% block title_baseline %}{{ news.title }}{% endblock %}
{% block acroche_baseline %}
    Posted {{ news.getAge() }}.
{% endblock %}
{% block css %}    <link href="/css/vim.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include '_pager.html.twig' with {"news" : news} only %}
            <div class="blog">
{% autoescape false %}
{{ news.content }}
{% endautoescape %}
            </div>
{% include '_pager.html.twig' with {"news" : news} only %}
          </div>
        </div><!-- row -->
    </div><!-- container -->
{% endblock %}

