{% extends "layout.html.twig" %}

{% block content %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="#"><img src="/images/icons/button_help.png" /> About Pomm</a></h2>
              </div>
              <div class="panel-body">
                <p>Pomm proposes <a href="#">another approach</a> to using a database from web applications. It relies on Postgresql features to let the developers shape data structures that fit business processes.</p>
                <p>
                  <dl>
                    <dt>key features</dt>
                    <dd>&#10149; Faster than any ORM</dd>
                    <dd>&#10149; Object oriented</dd>
                    <dd>&#10149; Native conversion of almost all Pg types (HSTore, composite types&#133;)</dd>
                    <dd>&#10149; Unrestricted access to SQL if needed with query helpers</dd>
                    <dd>&#10149; Database structure introspection tools</dd>
                    <dd>&#10149; LISTEN / NOTIFY Postgresql asynchronous messaging support</dd>
                  </dl>
                </p>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="#"><img src="/images/icons/document.png" /> Documentation</a></h2>
              </div>
              <div class="panel-body">
                <table class="table table-condensed">
                  <tr>
                    <th>
                      Official documentation
                    </th>
                    <th>
                      Tutorial (1.2)
                    </th>
                    <th>
                      Code examples
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <dl>
                        <dd>Pomm 1.2 <a href="#">documentation</a> | <a href="#">API</a></dd>
                        <dd>Pomm 1.1 <a href="#">documentation</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl>
                        <dd><a href="#">English</a></dd>
                        <dd><a href="#">French</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl>
                        <dd><a href="#">Pomm 1.2</a></dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="#"><img src="/images/icons/arrow_down.png" /> Download</a></h2>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <th>
                      Pomm
                    </th>
                    <th>
                      <a href="#">Silex</a>
                    </th>
                    <th>
                      <a href="#">Symfony2</a>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <dl>
                        <dd><a href="#">Pomm 1.2-RC3</a></dd>
                        <dd><a href="#">Pomm 1.1.4</a> (stable)</dd>
                        <dd><a href="#">Pomm 1.0.6</a> (deprecated)</dd>
                      </dl>
                    </td>
                    <td>
                      <dl>
                        <dd><a href="#">PommServiceProvider</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl>
                        <dd><a href="#">PommBundle</a></dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
{% endblock %}
