
.jumbotron{
    color: #403A76;
    padding-bottom: 18px;
    padding-top: 18px;
    background: url('../images/small_background.png') center right no-repeat;
    background-color: #ECE3E8;
}
div#headerhome{
    background: url('../images/background.jpg') center center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 60px;
}

div#headerhome #baseline{
    padding-top: 67px;

}
div#headerhome #baseline h2{
    margin-bottom: 15px;
}
div#headerhome #baseline p{
    text-align: justify;
}

div#headerhome div.container{
    text-align: center;
}

a{
    color: #000000;
}

.blog a{
    color: #0000aa;
    text-decoration: underline;
}

.blog a:visited{
    color: #4000aa;
    text-decoration: underline;
}

.navbar{
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-brand{
    padding-top: 16px;
}

.no-padding{
    padding: 0;
}

#logotop{
    margin-right: 10px;
}

div#navbar ul.navbar-nav{
    margin-top: 6px;
}

.panel{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-info{
    border:none;
}

.panel-info > .panel-heading{
    background: none;
    border: none;
    color: #EA3889;
}

.panel-info .panel-body{
    padding-top: 1px;
    border:none;
}

.panel-info > .panel-heading h3{
    padding-top: 5px;
}

.panel-info > .panel-heading img{
    margin-top: -5px;
}

#homeproject{
    background: #ECE3E8;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#homeproject h3{
    color: #6A5FA6;
    padding-left: 17px;
}

.uppercase{
    text-transform: uppercase;
}

.accroche{
    text-align: justify;
}

.accroche img{
    display: block;
    margin: auto;

}
.accroche .header_accroche{
    text-align: center;
}
.accroche h2{
    color: #EA3889;
    text-transform: uppercase;
    font-size: 28px;
}

div.footer{
    padding-bottom: 30px;
    padding-top: 30px;
}

div#homeproject span.sstitle{
    font-weight: bold;
}

div#homeproject a{
    color: #EA3889;
}

.jumbotron h1, .jumbotron .h1{
    color: #EA3889;
    font-size: 61px;
}

h3, .toc-backref, h3 a, h2{
    color: #6A5FA6;
}

div.align-center{
    text-align: center;
}
